
.list-area {
  height:80%;
  width: 15%;
  float:left;
  position:absolute;
  background: pink;
  margin : 5px;
   clear:right;
}

.content-area {
  overflow: auto;
  position: relative;
  width: 100%;
  height: 80%;
  background:orange;
  margin : 5px;
}

.footer {
   background: red;
   width:100%;
   height: 10%;
}
.height_header{
   height: 5%;
   background:orange;
}

.height_center{
   height: 80%;
   padding: 0px;
}
.height_footer{
   height: 10%;
}

.scroll-1{
  overflow: scroll;
  height: 100%;
}
.no-padding{
padding: 0px;
}