<html>
<head>

     <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.css') }}">
     <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
     <script src="http://code.jquery.com/jquery-latest.js"></script>
       <!--  <script type=text/javascript src="{{url_for('static', filename='js/jquery-1.11.3.js') }}"></script> -->
     <script type=text/javascript src="{{url_for('static', filename='js/bootstrap.js') }}"></script>

     <title>test </title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
 <!--
 style ='background-color: #2ba6cb;'
 -->

<body>
<div class="container-fluid">
    <div class="row-fluid height_header"  >
      test
    </div>
    <div class="row-fluid" >
        <div class="col-md-2 height_center" style ='background-color: #2ba600;'>
            <!--{% block object_list %}{% endblock %}-->
            {% include 'object_list.html' %}
        </div>
        <div class="col-md-10 height_center main_area" style ='background-color: #00a6cb;' >bbb</div>
    </div>
    <div class="row-fluid height_footer">
      ssadfghjjk
    </div>
</div>

</body>
<script type=text/javascript src="{{url_for('static', filename='js/scalix.js') }}"></script>
</html>