<html>
<head>

     <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/bootstrap.css') }}">
     <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/style.css') }}">
     <script src="http://code.jquery.com/jquery-latest.js"></script>
       <!--  <script type=text/javascript src="{{url_for('static', filename='js/jquery-1.11.3.js') }}"></script> -->

     <script type=text/javascript src="{{url_for('static', filename='js/bootstrap.js') }}"></script>

     <title>test </title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
 <!--
 style ='background-color: #2ba6cb;'
 -->

<body>
<div class="container-fluid">

    <div class="row-fluid height_header"  >
      header
    </div>

    <div class="row-fluid height_navigation"  >
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#users">Users</a></li>
            <li><a data-toggle="tab" href="#groups">Groups</a></li>
        </ul>
    </div>

    <div class="row-fluid height_center" >
        <div class="tab-content" >

            <div id="users" class="tab-pane fade in active">
                <div class="col-md-2  nopadding pad"   >
                    <!--{% block object_list %}{% endblock %}-->
                    {% include 'object_list.html' %}
                </div>
                <div class="col-md-10 nopadding main_area"></div>
             </div>

            <div id="groups" class="tab-pane fade">
                <div class="col-md-2  nopadding pad">
                    {% include 'object_list.html' %}
                </div>
                <div class="col-md-10 nopadding main_area"></div>
             </div>

        </div>
    </div>

    <div class="row-fluid">
        <div class="height_footer scroll-footer"></div>
    </div>

</div>

</body>
<script type=text/javascript src="{{url_for('static', filename='js/scalix.js') }}"></script>
</html>